@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS para o tema escuro */
@media (prefers-color-scheme: dark) {
  /* Definir as cores do tema escuro */
  :root {
    --color-bg: #1a202c;
    --color-text: #d8dee9;
    --color-primary: #4299e1;
    /* Adicione outras variáveis de cor conforme necessário */
  }

  /* Aplicar as cores do tema escuro aos elementos */
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  /* Adicione estilos adicionais para o modo escuro conforme necessário */
}
